body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:rgb(128,193,228);
	background-image:url('../img/bgSlice.jpg');
	background-repeat:repeat-x;
	color:#333;
	background-attachment:fixed;
	margin:0;
	padding:0;
}

a
{
	outline: none;
}

img
{
	border:0;
}

ul li {
	margin-bottom: 3px;	
}

#siteWrapper
{
	width:960px;
	margin:auto;
}

.cb
{
	clear:both;
}

#header
{
	height:70px;
	position:relative;
}

#header #phone
{
	position:absolute;
	right:14px;
	top:27px;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
}

#topNav
{
	position:absolute;
	right:124px;
	top:20px;
	font-weight:bold;
	width:600px;
	text-align:right;
	letter-spacing:-0.25px;
}

#topNav a:link,#topNav a:active,#topNav a:visited
{
	float:right;
	display:block;
	font-size:15px;
	color:#c4eeff;
	width:74px;
	height:28px;
	text-decoration:none;
	text-align:center;
	padding-top:6px;
	margin-left:7px;
	margin-right:7px;
}

#topNav a:link span,#topNav a:active span,#topNav a:visited span
{
	border:0;
	border-bottom:#c4eeff 1px dotted;
}

#topNav a:hover span,.active
{
	border-bottom:#c4eeff 0 dotted !important;
}

#features
{
	margin-left:7px;
	margin-right:7px;
}

#topNav a:hover,.active
{
	background-image:url('../img/bubble.png');
	height:28px;
	padding-top:6px;
	color:#1b4d67 !important;
}

#topNav a:hover
{
	background-image:url('../img/bubble_hover.png');
}

#home
{
	position:relative;
}

#homeTop
{
	width:960px;
	height:21px;
	background-image:url('../img/homeTop.png');
}

#homeBottom
{
	width:960px;
	height:23px;
	background-image:url('../img/homeBottom.png');
}

#homeSlice
{
	height:401px;
	background-image:url('../img/homeSlice.png');
	margin:0 7px;
}

#home .video
{
	position:absolute;
	right:25px;
	top:20px;
	border: 2px solid #666;
}

#home .dist
{
	position:absolute;
	top:30px;
	left:20px;
	background-image:url('../img/dwms.png');
	height:99px;
	width:357px;
}

.blueButton,.greenButton
{
	width:166px;
	padding-top:7px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	height:33px;
	background-image:url('../img/buttonBlue.png');
	text-align:center;
	display:block;
	text-decoration:none;
	line-height:22px;
}

.blueButton:hover,.greenButton:hover
{
	color:#eee;
	text-decoration: underline;
}

.greenButton
{
	background-image:url('../img/buttonGreen.png');
}

#home .text2
{
	font-size:12px;
	color:#c1e7fe;
}

.b1:hover, .b2:hover, .b3:hover {
	text-decoration: none;
} 

#home .b1
{
	position:absolute;
	top:230px;
	left:25px;
}

#home .b2
{
	position:absolute;
	top:230px;
	left:205px;
}

#home .hd1
{
	position:absolute;
	top:305px;
	left:84px;
}

#home .hd2
{
	position:absolute;
	top:305px;
	left:374px;
}

#home .hd3
{
	position:absolute;
	top:305px;
	left:704px;
}

#home .txt1
{
	position:absolute;
	top:360px;
	left:29px;
}

#home .txt2
{
	position:absolute;
	top:360px;
	left:329px;
}

#home .txt3
{
	position:absolute;
	top:360px;
	left:649px;
	width: 300px;
}

#home .img1
{
	position:absolute;
	top:301px;
	left:26px;
}

#home .img2
{
	position:absolute;
	top:301px;
	left:320px;
}

#home .img3
{
	position:absolute;
	top:301px;
	left:650px;
}

#home .text1
{
	position:absolute;
	left:25px;
	top:135px;
	width:360px;
	font-size:16px;
	color:#12435e;
	font-weight:bold;
}

#home .heading
{
	font-size:15px;
	color:#FFF;
	font-weight:bold;
}

.homeSpacer
{
	width:6px;
	height:149px;
	position:absolute;
	background-image:url('../img/homeSpacer.png');
}

.hs1
{
	top:284px;
	left:300px;
}

.hs2
{
	top:284px;
	left:620px;
}

.content
{
	width:960px;
	padding:7px;
}

.contentTop
{
	width:951px;
	height:9px;
	min-height:0;
	position:inherit;
	background-image:url('../img/contentTop.png');
	background-repeat:no-repeat;
	background-position:bottom;
	margin:0;
	padding:0;
}

.contentBottom
{
	width:946px;
	height:10px;
	background-image:url('../img/contentBottom.png');
	background-repeat:no-repeat;
}

.contentBody
{
	background-color:#FFF;
	min-height:200px;
	width:946px;
}

.contentLeft
{
	float:left;
	margin-left:10px;
	width:640px;
}

.boxTop
{
	width:640px;
	height:34px;
	background-image:url('../img/boxTop.png');
	position:relative;
}

.boxHeading
{
	position:absolute;
	left:10px;
	top:4px;
	font-size:20px;
	color:#2f2f2f;
	font-weight:bold;
}

.boxHeading a
{
	color:inherit;
	text-decoration:none;
}

.boxTag
{
	position:absolute;
	right:11px;
	text-align:right;
	top:9px;
	font-size:12px;
	color:#222;
}

.boxBody
{
	border-left:#c5c5c5 1px solid;
	border-right:#c5c5c5 1px solid;
	min-height:25px;
	width:638px;
	position:relative;
}

#box1 .boxBody
{
	background-image:url('../img/box1Slice.png');
	height:112px;
}

#box2
{
	margin-top:22px;
}

#box2 .boxBody
{
	background-image:url('../img/box2Slice.png');
	height:220px;
}

.fBox .boxBottom
{
	height:7px;
	width:640px;
	background-image:url('../img/fBoxBottom.png');
	background-repeat:no-repeat;
}

.feature
{
	position:absolute;
	width:200px;
	height:110px;
}

.feature img
{
	position:absolute;
	right:160px;
	top:5px;
}

.feature .heading
{
	position:absolute;
	white-space:nowrap;
	left:45px;
	top:0;
	color:#333;
	font-weight:bold;
	font-size:15px;
	text-decoration:none;
}

.feature .text
{
	position:absolute;
	left:45px;
	top:40px;
	color:#666;
	font-size:12px;
}

.f1
{
	left:0;
	top:10px;
}

.f2
{
	left:204px;
	top:10px;
}

.f3
{
	left:420px;
	top:10px;
}

.f4
{
	left:0;
	top:125px;
}

.f5
{
	left:204px;
	top:125px;
}

.f6
{
	left:420px;
	top:125px;
}

.fc1
{
	position:absolute;
	left:0;
	width:638px;
	border-top:#ccc 1px solid;
	height:1px;
	top:118px;
}

.fc2
{
	position:absolute;
	left:200px;
	width:1px;
	background-color:#CCC;
	height:118px;
	top:0;
}

.fc3
{
	position:absolute;
	left:415px;
	width:1px;
	background-color:#CCC;
	height:118px;
	top:0;
}

.fc4
{
	position:absolute;
	left:0;
	width:638px;
	border-top:#ccc 1px solid;
	height:1px;
	top:69px;
}

.fc5
{
	position:absolute;
	left:0;
	width:638px;
	border-top:#ccc 1px solid;
	height:1px;
	top:146px;
}

.test
{
	position:absolute;
	width:638px;
}

.test .text
{
	color:#333;
	position:absolute;
	font-size: 13px;
	top:0;
	left:0;
	width:610px;
}

.test .name
{
	color:#265974;
	position:absolute;
	top:24px;
	right:140px;
	font-weight:bold;
}

.test .site a:link,.test .site a:active,.test .site a:visited,.test .site a:hover
{
	position:absolute;
	right:140px;
	top:39px;
	font-style:italic;
	text-decoration:none;
	color:#444;
}

.test .logo
{
	position:absolute;
	right:30px;
	top:24px;
}

.t1
{
	left:15px;
	top:10px;
}

.t2
{
	left:15px;
	top:80px;
}

.t3
{
	left:15px;
	top:160px;
}

.learn
{
	height:61px;
	width:640px;
	margin-top:10px;
	background-image:url('../img/learn.png');
	position:relative;
}

.learn .text
{
	color:#154965;
	text-decoration:#fff 0 0 0;
	font-size:19px;
	font-weight:bold;
	position:absolute;
	left:14px;
	top:19px;
}

.b3
{
	right:15px;
	top:12px;
	position:absolute;
}

.contentRight
{
	float:right;
	width:271px;
	margin-right:10px;
}

.rightTop
{
	background-image:url('../img/rightTop.png');
	background-position:bottom;
	background-repeat:no-repeat;
	width:271px;
	height:7px;
}

.rightBody
{
	background-color:#d9f2ff;
	width:271px;
	min-height:50px;
}

.rightBody .rc
{
	display:table-cell;
	height:100%;
	padding:1px 10px;
}

.rightBottom
{
	background-image:url('../img/rightBottom.png');
	width:271px;
	height:7px;
	background-repeat:no-repeat;
}

h4
{
	width:235px;
	height:30px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding-left:15px;
	padding-top:11px;
	background-image:url('../img/h4.png');
	margin:0;
}

.news
{
	padding:6px;
}

.news .title a:link,.news .title a:active,.news .title a:visited,.news .title a:hover
{
	color:#3e3e3e;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}

.news .text
{
	color:#265974;
	font-size:12px;
	padding-top:0px;
}


.news .text p
{
	margin: 5px 0 0;
}


.sep
{
	height:2px;
	width:244px;
	background-image:url('../img/rightDivider.png');
	margin-left:4px;
	background-repeat:no-repeat;
}

.readMore a:link,.readMore a:active,.readMore a:hover,.readMore a:visited
{
	text-decoration:none;
	color:#444;
	font-size:10px;
	background-image:url('../img/readMore.png');
	height:17px;
	width:74px;
	float:right;
	padding-left:11px;
	padding-top:6px;
	display:block;
}

h1
{
	width:931px;
	height:46px;
	text-align:left;
	color:#226081;
	font-size:26px;
	vertical-align:middle;
	background-image:url('../img/h1.png');
	font-weight:normal;
	margin:0;
	padding:12px 0 0 20px;
}

h1 span
{
	font-weight:bold;
}

.sep2
{
	height:15px;
}

.footer
{
	height:50px;
	padding:12px;
}

.test2 .text
{
	color:#333;
	padding:6px 6px 12px;
}

.test2 .right
{
	float:right;
	text-align: right;
}

.test2 .site a:link,.test2 .site a:active,.test2 .site a:visited,.test2 .site a:hover
{
	color:#222;
	padding-left:5px;
	text-decoration:none;
	position: relative;
	right: 10px;
}

.test2 .name
{
	color:#265974;
	font-weight:bold;
	position: relative;
	right: 10px;
}

.test2 .sep
{
	margin-top:15px;
	margin-bottom:15px;
}

.bigVid
{
	padding-top:6px;
	padding-left:5px;
}

.bigVid .title
{
	border-bottom:#bbb 2px solid;
	width:617px;
	padding-bottom:8px;
	color:#444;
	font-size:24px;
	font-weight:bold;
	margin-bottom:6px;
}

.bigVid .title a {
	color: inherit;
	text-decoration: inherit;
}

.textInfo
{
	color:#222;
	line-height:1.35;
	text-align:left;
	padding: 0 35px 0 25px;
	margin-bottom: 15px;
	font-size: 13px;
	
}

.textInfo a:link,.textInfo a:active,.textInfo a:visited
{
	color:#226081;
	font-weight:bold;
	text-decoration:none;
	border-bottom:#226081 1px dotted;
}

.aboutImage
{
	float:right;
	margin-left:5px;
}

.textInfo a:hover
{
	text-decoration:none;
	border-bottom:#226081 0 dotted;
}

.footer .left
{
	float:left;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
}

.footer .right
{
	float:right;
	color:#95cbe8;
}

.fBox
{
	margin-bottom:15px;
}

.fBox .boxBody
{
	background-image:url('../img/fBoxSlice.png');
	background-position:bottom;
	background-repeat:repeat-x;
}

.fBox .boxBody .text
{
	color:#555;
	float:left;
	width:445px;
	padding:12px 5px 5px;
}

.fBox .boxBody .img
{
	float:right;
	margin-top:10px;
	margin-right:2px;
}

.bigVid .date
{
	background-image:url('../img/news.png');
	background-repeat:no-repeat;
	height:16px;
	padding-left:22px;
	color:#226081;
	font-size:12px;
	margin-top:6px;
	font-weight: normal;
}

.title2
{
	font-size:22px;
	font-weight:bold;
	color:#333;
	padding:0 6px;
}

.sub2
{
	color:#888;
	font-size:12px;
	margin-top:6px;
	padding:0 6px;
}

.title3
{
	font-size:16px;
	color:#333;
	font-weight:bold;
	padding:6px;
}

.textBox
{
	margin-left:7px;
	color:#444;
	width:295px;
	border:#bbb 1px solid;
}

.textarea
{
	margin-left:7px;
	height:201px;
	color:#444;
	width:590px;
	border:#bbb 1px solid;
}

.textBox, .textarea {
	padding: 5px;
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
}

.contactNotification {
	font-weight: bold; 
	font-size: 14px;
	background-color: #52A6D2; 
	color: #fff; 
	margin: 5px auto 5px 5px; 
	text-align: center; 
	width: 617px; 
	padding-top: 5px;
	padding-bottom: 5px;	
}

.right2
{
	text-align:right;
	padding-top:8px;
	padding-right:31px;
}

.homerc
{
	min-height:614px;
}

.contact,.contactTop,.contactBottom
{
	width:619px;
}

.contactTop
{
	height:10px;
	background-image:url('../img/contactTop.png');
	background-repeat:no-repeat;
	background-position:bottom;
}

.contactBottom
{
	height:10px;
	background-image:url('../img/contactBottom.png');
	background-repeat:no-repeat;
}

.contactContent
{
	background-color:#efefef;
	font-size:14px;
	line-height:22px;
	padding:0 5px 0 9px;
}

.img .caption
{
	font-size:10px;
	color:#444;
	text-align:center;
	padding-top:3px;
	width:169px;
}

.footer a:link,.footer a:active,.footer a:visited
{
	color:#19455c;
	text-decoration:none;
	font-weight:bold;
	margin:0 5px;
}

.footer a:hover
{
	color:#365d6a;
	text-decoration:none;
}

#logo,.test2 .logo
{
	float:left;
}

#box1 .boxBottom,#box2 .boxBottom
{
	height:7px;
	width:640px;
	background-image:url('../img/box1Bottom.png');
	background-repeat:no-repeat;
}

.paginator { 
	font-size: 12px;
	margin: 10px 0;
	clear: both;
}
.paginator div.pagination_links {
	display: block;
	float: none;
}
.paginator div.pagination_results {
	font-size: 11px;
	display: block;
	float: none;
	clear: both;
	margin-top: 3px;
}
.paginator span {
	cursor: default;	
}
.paginator a {
	cursor: pointer;
	color: #226081;
}
.paginator span.current,
.paginator a,
.paginator a:visited,
.paginator div.disabled {
	display: block; 
	padding: 2px 5px;
	margin: 0 1px;
	float: left;
	text-decoration: none;
	border: 1px solid #ccc;
}

.paginator a:hover {
	background-color: #E3F3FF;
}
.paginator span.current {
	background-color: #D8F1FF;
	border: 1px solid #226081;
	color: #51A5D3;	
}

a.postBack {
	color: #226081;
	text-decoration: none;
	font-weight: bold;
}

a.postBack:hover {
	text-decoration: underline;
}

#contactSubmit {
	background: url("../img/send.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 37px;
	width: 299px;
	border: 0;
}