				<div id="home">
	
		<div id="homeTop"></div>
        
        <div class="dist"></div>
        	
            <div class="text1">
            	<span style="font-size: 24px;">B2B Distributors,</span> <br />
            	DistiSuite seamlessly integrates online sales and marketing into your business.	
            </div>
                   
            <a href="{{site.baseurl}}features" class="blueButton b1">Learn More</a>            <a href="{{site.baseurl}}contact" class="greenButton b2">Schedule a Demo</a>            
           <div class="video">
           
				<script type="text/javascript" src="{{site.baseurl}}js/swfobject.js"></script>				<script type="text/javascript">
					swfobject.registerObject("scPlayer","9.0.98","expressInstall.swf");
				</script>
				
				<div style="width: 483px; height: 246px;">
					<object id="scPlayer" class="embeddedObject" width="483" height="246" type="application/x-shockwave-flash" data="http://content.screencast.com/users/xonatek/folders/Default/media/d4ac7ebd-a894-4821-a3ef-a3071da9af29/mp4h264player.swf" >
						<param name="movie" value="http://content.screencast.com/users/xonatek/folders/Default/media/d4ac7ebd-a894-4821-a3ef-a3071da9af29/mp4h264player.swf" />
							<param name="quality" value="high" />
							<param name="bgcolor" value="#FFFFFF" />
							<param name="flashVars" value="thumb=http://content.screencast.com/users/xonatek/folders/Default/media/d4ac7ebd-a894-4821-a3ef-a3071da9af29/FirstFrame.png&containerwidth=483&containerheight=246&showstartscreen=true&showendscreen=true&loop=false&autostart=false&color=1A1A1A,1A1A1A&thumb=FirstFrame.png&thumbscale=45&content=http://content.screencast.com/users/xonatek/folders/Default/media/d4ac7ebd-a894-4821-a3ef-a3071da9af29/DistiSuite%20Overview.mp4&blurover=false" />
							<param name="allowFullScreen" value="true" />
							<param name="scale" value="showall" />
							<param name="allowScriptAccess" value="always" />
							<param name="base" value="http://content.screencast.com/users/xonatek/folders/Default/media/d4ac7ebd-a894-4821-a3ef-a3071da9af29/" />
							<video width="483" height="246" controls="controls"><br />
								<source src="http://content.screencast.com/users/xonatek/folders/Default/media/d4ac7ebd-a894-4821-a3ef-a3071da9af29/DistiSuite%20Overview.mp4" type="video/mp4;" /><br />
								<b>Your browser cannot play this video. <a href="http://www.screencast.com/handlers/redirect.ashx?target=viewingembededhelp">Learn how to fix this</a>.</b>
							</video>
						</object>
				</div>
           
           </div>
            
           <div class="img1"><img src="{{site.baseurl}}img/screen.png" alt="" /></div>
           
            <div class="heading hd1">
               <a href="{{site.baseurl}}about" style="text-decoration: none; color: #fff;">B2B Distribution<br />
                SaaS Website Solution</a>           
            </div>
            <div class="txt1 text2">
            	Distisuite is a B2B website solution for<br />
            	distribution companies. Display up-to-date<br />
            	product information on your website,<br />
            	syncronized with your inventory database.
            </div>
            
            <div class="img2"><img src="{{site.baseurl}}img/plus.png" alt="" /></div>
            <div class="heading hd2">
                Connect with new <br />
					customers online      
            </div>
            <div class="txt2 text2">
            	Type one of your part numbers in Google. <br />
            	Does your website show up? Customers around the<br />
            	world are searching for your products, and we<br />
            	can help you connect with those customers.
            </div>
			
            <div class="img3"><img src="{{site.baseurl}}img/person.png" alt="" /></div>
            
            <div class="heading hd3">
                58% of Distribution Customers<br />
                Prefer Doing Business Online          
            </div>
            <div class="txt3 text2">
            	More than 50% of electronic components customers will request price quotes online. 
            	59% plan to increase online purchasing in 2010. Online business statistics are steadily trending upward, year over year
            </div>
            
			<div class="homeSpacer hs1"></div>
			<div class="homeSpacer hs2"></div>		
			
		<div id="homeSlice">
			
		</div>
		
		<div id="homeBottom"></div>
		
	</div>