<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="cache-control" content="no-cache" />
  		<meta http-equiv="expires" content="3600" />
  		<meta name="revisit-after" content="2 days" />
  		<meta name="robots" content="index,follow" />
		<meta name="description" content="The ONLY eCommerce system designed for electronic distributors, by electronic distributors." />
  		<meta name="keywords" content="electronic distribution, ecommerce, sell online" />
  		<title>{{page.title}}: DistiSuite</title>
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/css.css" />		<!--[if lt IE 7]>
			<link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/ie6.css" />			<script type="text/javascript" src="{{site.baseurl}}js/ie6.js"></script>		<![endif]-->
	</head>

	<body>
	
		<div id="siteWrapper">
			
			<div id="header">
				
				<a href="{{site.url}}"><img src="{{site.baseurl}}img/logo.gif" alt="" /></a>				
				<div id="topNav">

					<a href="{{site.baseurl}}contact" {% if page.title == 'Contact' %}class="active"{% endif %}><span>Contact</span></a>
					<a href="{{site.baseurl}}news" {% if page.title == 'News' %}class="active"{% endif %}><span>News</span></a>
					<a href="{{site.baseurl}}features" {% if page.title == 'Features' %}class="active"{% endif %}><span>Features</span></a>
					<a href="{{site.baseurl}}about" {% if page.title == 'About' %}class="active"{% endif %}><span>About</span></a>
					<a href="{{site.url}}" {% if page.title == 'Home' %}class="active"{% endif %}><span>Home</span></a>
									</div>
				
				<div id="phone">1-800-528-1384</div>
				
			</div>

			{% if page.title == 'Home' %}
				{% include homepage-top.html %}

			{% else %}
				<h1><span>{{page.title}}:</span> {{page.breadcrumb}}</h1>
			{% endif %}			
		    
		    <div class="content">
		        <div class="contentTop"></div>
		        <div class="contentBody">
		        
		            <div class="contentLeft">
		            
		           		{{ content }}

		            </div>
		            
		            <div class="contentRight">
		            
		            	<div class="rightTop"></div>
		            	
		                <div class="rightBody">
							
		                	<div class="rc" style="
			                {% if page.title == 'Home' %}
			                	height: 506px
			                {% elsif page.title == 'Features' %}
			                	height: 2448px
			                {% elsif page.title == 'News' %}
			                	height: 5500px
			                {% elsif page.title == 'Testimonials' %}
			                	height: 1500px
			                {% endif %}
		                	">
		                	
			                	{% if (page.title != 'News' or (page.title == 'News' and page.postTitle)) %}

		                			<a href="{{site.baseurl}}news" style="text-decoration: none"><h4>Recent News</h4></a>		

									{% for post in site.posts limit:2 %}	                    
				                    				                    
				                    	<div class="news">
				                    		<div class="title"><a href="{{post.url}}">{{post.postTitle}}</a></div>
				                    		<div class="text">{{ post.content | split:'<!--break-->' | first }} ...</p></div>
				                    		<div class="readMore"><a href="{{post.url}}">Read More</a></div>
				                    		<div class="cb"></div>
				                    	</div>

				                    	{% if post == site.posts.first %}
				                    		<div class="sep"></div>
				                    	{% endif %}
				                    					     
									{% endfor %}			                    
				                    				                    
				                    <div class="sep2"></div> 
				                    
				                {% endif %}

				                {% if page.title != 'Testimonials' %}
																
				                    <a href="{{site.baseurl}}testimonials" style="text-decoration: none"><h4>Testimonials</h4></a>				                    
				                    				                    	
				                    	<div class="test2">
				                    	
				                    		<div class="text">It's been about six months since Distisuite 're-tooled' our website, and I must say, the results have exceeded our expectations.</div>
				                    		<div class="right">
				                    			<div class="name">- Ed Morris</div>
				                    			<div class="site"><a href="http://www.pscelex.com" rel="nofollow">PSC Electronics</a></div>
				                    		</div>
				                    		
				                    		<div class="logo"><a href="http://www.pscelex.com" rel="nofollow"><img src="{{site.baseurl}}img/testimonial_psc.gif" alt="" /></a></div> 
                       						<div class="cb"></div> 
				                    	
					                    						                    		<div class="sep"></div>
					                    						                    	
					                    </div>

				                    	
				                    				                    	
				                    	<div class="test2">
				                    	
				                    		<div class="text">The DistiSuite team has been extremely responsive and their solution has allowed us to begin selling on the web in a very short time.</div>
				                    		<div class="right">
				                    			<div class="name">- Jeff Meyer</div>
				                    			<div class="site"><a href="http://www.testco-inc.com" rel="nofollow">Testco Inc.</a></div>
				                    		</div>
				                    		
				                    		<div class="logo"><a href="http://www.testco-inc.com" rel="nofollow"><img src="{{site.baseurl}}img/testimonial_testco.gif" alt="" /></a></div> 
                       						<div class="cb"></div> 
				                    	
					                    						                    	
					                    </div>
				                    	
				                {% endif %}		                    
			                    						
	                    	</div>
	                    	
		                </div>
		                
		                <div class="rightBottom"></div>
		        
		        	</div>
		            
		            <div class="cb"></div>
		        	
		        </div>
		        
		        <div class="contentBottom"></div>
		        
		    </div>
			
		    <div class="footer">
		        <div class="left">&copy; 2001-2015 DistiSuite - a <a href="https://protechig.com/">ProTech</a> venture. All Rights Reserved.</div>
		        <div class="right">
		        	<a href="{{site.url}}">Home</a> / 
<a href="{{site.baseurl}}about">About</a> / 
<a href="{{site.baseurl}}features">Features</a> / 
<a href="{{site.baseurl}}news">News</a> / 
<a href="{{site.baseurl}}contact">Contact</a>		        </div>
		    </div>
		
		</div>
		
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '{{site.ga}}']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	
	</body>
	
</html>
